{{ ' !' }}
{{ ' address-family ipv4 unicast' }}
{% if ipv4u.networks is defined and ipv4u.networks != '' %}
{% for net in ipv4u.networks %}
{% if net is defined and net | ansible.netcommon.ipaddr('net') %}
{{ '  network ' + net }}
{% endif %}
{% endfor %}
{% endif %}
{% if ipv4u.neighbors is defined and ipv4u.neighbors != '' %}
{% for nipv4 in ipv4u.neighbors %}
{% if nipv4.neighbor is defined and nipv4.neighbor |
  ansible.netcommon.ipaddr('host') %}
{% if nipv4.soft_reconfiguration_inbound is defined and
      nipv4.soft_reconfiguration_inbound == 'true' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' soft-reconfiguration inbound' }}
{% endif %}
{% if nipv4.distribute_list is defined and nipv4.distribute_list != '' %}
{% for nd in nipv4.distribute_list %}
{% if nd.in is defined and nd.in != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' distribute-list ' ~ nd.in ~ ' in' }}
{% endif %}
{% if nd.out is defined and nd.out != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' distribute-list ' ~ nd.out ~ ' out' }}
{% endif %}
{% endfor %}
{% endif %}
{% if nipv4.filter_list is defined and nipv4.filter_list != '' %}
{% for nf in nipv4.filter_list %}
{% if nf.in is defined and nf.in != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' filter-list ' ~ nf.in ~ ' in' }}
{% endif %}
{% if nf.out is defined and nf.out != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' filter-list ' ~ nf.out ~ ' out' }}
{% endif %}
{% endfor %}
{% endif %}
{% if nipv4.prefix_list is defined and nipv4.prefix_list != '' %}
{% for np in nipv4.prefix_list %}
{% if np.in is defined and np.in != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' prefix-list ' ~ np.in ~ ' in' }}
{% endif %}
{% if np.out is defined and np.out != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' prefix-list ' ~ np.out ~ ' out' }}
{% endif %}
{% endfor %}
{% endif %}
{% if nipv4.route_map is defined and nipv4.route_map != '' %}
{% for nr in nipv4.route_map %}
{% if nr.in is defined and nr.in != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' route-map ' ~ nr.in ~ ' in' }}
{% endif %}
{% if nr.out is defined and nr.out != '' %}
{{ '  neighbor ' ~ nipv4.neighbor ~ ' route-map ' ~ nr.out ~ ' out' }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{{ ' exit-address-family' }}
