{% for b in vars['frr_router_bgp_access_lists'] %}
{% if b.name is defined and b.name != '' %}
{% if b.rules is defined and b.rules != '' %}
{% for acl in b.rules %}
{{ 'bgp as-path access-list ' + b.name + ' ' + acl }}
{% endfor %}
{% endif %}
{% endif %}
{% if loop.last %}
{{ 'exit' }}
{{ '!' }}
{% endif %}
{% endfor %}
