{% if n.advertisement_interval is defined and
  (n.advertisement_interval > '0' <= '600') %}
{{ ' neighbor ' + n.neighbor + ' advertisement-interval ' ~
  n.advertisement_interval }}
{% endif %}
{% if n.bfd_check_control_plane_failure is defined and
  n.bfd_check_control_plane_failure == 'true' %}
{{ ' neighbor ' + n.neighbor + ' bfd check-control-plane-failure' }}
{% endif %}
{% if n.bfd_profile is defined and n.bfd_profile != '' %}
{{ ' neighbor ' + n.neighbor + ' bfd profile ' ~ n.bfd_profile }}
{% endif %}
{% if n.capability is defined and
  n.capability in ['dynamic', 'extended-nexthop'] %}
{{ ' neighbor ' + n.neighbor + ' capability ' + n.capability }}
{% endif %}
{% if n.description is defined and n.description != '' %}
{{ ' neighbor ' + n.neighbor + ' description ' ~ n.description }}
{% endif %}
{% if n.disable_connected_check is defined and
  n.disable_connected_check == 'true' %}
{{ ' neighbor ' + n.neighbor + ' disable-connected-check' }}
{% endif %}
{% if n.ebgp_multihop is defined and (n.ebgp_multihop > '0' <= '255') %}
{{ ' neighbor ' + n.neighbor + ' ebgp-multihop ' ~ n.ebgp_multihop }}
{% endif %}
{% if n.enforce_first_as is defined and n.enforce_first_as == 'true' %}
{{ ' neighbor ' + n.neighbor + ' enforce-first-as' }}
{% endif %}
{% if n.enforce_multihop is defined and n.enforce_multihop == 'true' %}
{{ ' neighbor ' + n.neighbor + ' enforce-multihop' }}
{% endif %}
{% if n.graceful_restart is defined and n.graceful_restart == 'true' %}
{{ ' neighbor ' + n.neighbor + ' graceful-restart' }}
{% endif %}
{% if n.graceful_restart_disable is defined and
  n.graceful_restart_disable == 'true' %}
{{ ' neighbor ' + n.neighbor + ' graceful-restart-disable' }}
{% endif %}
{% if n.graceful_restart_helper is defined and
  n.graceful_restart_helper == 'true' %}
{{ ' neighbor ' + n.neighbor + ' graceful-restart-helper' }}
{% endif %}
{% if n.interface is defined and n.interface != '' %}
{{ ' neighbor ' + n.neighbor + ' interface ' ~ n.interface }}
{% endif %}
{% if n.maximum_prefix_out is defined and n.maximum_prefix_out != '' %}
{{ ' neighbor ' + n.neighbor + ' maximum-prefix-out ' ~ n.maximum_prefix_out }}
{% endif %}
{% if n.override_capability is defined and n.override_capability == 'true' %}
{{ ' neighbor ' + n.neighbor + ' override-capability' }}
{% endif %}
{% if n.passive is defined and n.passive == 'true' %}
{{ ' neighbor ' + n.neighbor + ' passive' }}
{% endif %}
{% if n.password is defined and n.password != '' %}
{{ ' neighbor ' + n.neighbor + ' password ' ~ n.password }}
{% endif %}
{% if n.peer_group is defined and n.peer_group != '' %}
{{ ' neighbor ' + n.neighbor + ' peer-group ' ~ n.peer_group }}
{% endif %}
{% if n.port is defined and n.port != '' %}
{{ ' neighbor ' + n.neighbor + ' port ' ~ n.port }}
{% endif %}
{% if n.remote_as is defined and n.remote_as != '' %}
{{ ' neighbor ' + n.neighbor + ' remote-as ' ~ n.remote_as }}
{% endif %}
{% if n.sender_as_path_loop_detection is defined and
  n.sender_as_path_loop_detection == 'true' %}
{{ ' neighbor ' + n.neighbor + ' sender-as-path-loop-detection' }}
{% endif %}
{% if n.shutdown is defined and n.shutdown == 'true' %}
{{ ' neighbor ' + n.neighbor + ' shutdown' }}
{% endif %}
{% if n.solo is defined and n.solo == 'true' %}
{{ ' neighbor ' + n.neighbor + ' solo ' }}
{% endif %}
{% if n.strict_capability_match is defined and
  n.strict_capability_match == 'true' %}
{{ ' neighbor ' + n.neighbor + ' strict-capability-match' }}
{% endif %}
{% if n.tcp_mss is defined and (n.tcp_mss > '0' <= '65535') %}
{{ ' neighbor ' + n.neighbor + ' tcp-mss ' ~ n.tcp_mss }}
{% endif %}
