{% for r in vars['frr_routes'] %}
{% if (r.destination is defined and r.destination != '') and
      (r.next_hop is defined and r.next_hop != '') %}
{{ 'ip route ' + r.destination + ' ' + r.next_hop -}}
{% if r.tag is defined and r.tag != '' %}
{{ ' tag ' ~ r.tag -}}
{% endif %}
{% if r.interface is defined and r.interface != '' %}
{{ ' ' ~ r.interface -}}
{% endif %}
{% if (r.distance is defined) and (r.distance > '1' <= '255') %}
{{ ' ' ~ r.distance -}}
{% endif %}
{% endif %}
{% if loop.last %}
{{ '\nexit\n!' }}
{% else %}
{{ '' }}
{% endif %}
{% endfor %}
