{% for i in hostvars[inventory_hostname]['quagga_interfaces'] %}
{% if i.name is defined and i.name != '' %}
{{ 'interface ' + i.name }}
{% if i.description is defined and i.description != '' %}
{{ ' description ' + i.description }}
{% endif %}
{% if i.ip is defined and i.ip != '' %}
{% for ii in i.ip %}
{% if ii.ospf is defined and ii.ospf != '' %}
{% for o in ii.ospf %}
{% if o.cost is defined and o.cost != '' %}
{{ ' ip ospf cost ' + o.cost }}
{% endif %}
{% if (o.instance_id is defined and o.instance_id != '') and
      (hostvars[inventory_hostname]['quagga_cumulus'] is defined and
       hostvars[inventory_hostname]['quagga_cumulus'] == 'true') %}
{% if o.area is defined and o.area != '' %}
{{ ' ip ospf ' + o.instance_id + ' area '  + o.area }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{{ '!' }}
{% endfor %}
