{% for i in quagga_interfaces %}
{% if i.name is defined and i.name != '' %}
{{ 'interface ' + i.name }}
{% if i.description is defined and i.description != '' %}
{{ ' description ' + i.description }}
{% endif %}
{% if i.link_detect is defined and i.link_detect == 'true' %}
{{ ' link-detect' }}
{% endif %}
{% if i.multicast is defined and i.multicast == 'true' %}
{{ ' multicast' }}
{% endif %}
{% if i.ip is defined and i.ip != '' %}
{% for ii in i.ip %}
{% if ii.address is defined and ii.address | ipaddr() %}
{{ ' ip address ' + ii.address }}{% if ii.label is defined and ii.label != '' %}{{ ' label ' + ii.label }}
{% else %}{{ '\n' -}}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{{ '!' }}
{% endfor %}
