{% for s in z.service %}
{% if s.password_encryption is defined and s.password_encryption == 'true' %}
{{ 'service password-encryption' }}
{% endif %}
{% if s.advanced_vty is defined and s.advanced_vty == 'true' %}
{{ 'service advanced-vty' }}
{% endif %}
{% if s.integrated_vtysh is defined and s.integrated_vtysh == 'true' %}
{{ 'service integrated-vtysh-config' }}
{% endif %}
{% endfor %}
