{% if z.hostname is defined and z.hostname != '' %}
{{ 'hostname ' + z.hostname }}
{% else %}
{{ 'hostname Router' }}
{% endif %}
{% if z.password is defined and z.password != '' %}
{{ 'password ' + z.password }}
{% endif %}
{% if z.enable_password is defined and z.enable_password != '' %}
{{ 'enable password ' + z.enable_password }}
{% endif %}
